python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
torch
transformers
tqdm
openai
ollama
anthropic
chromadb
gradio
dotenv
markitdown[all]
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-anthropic
langchain-chroma
langchain-community
llama-index-llms-langchain
langchain-huggingface
datasets==3.6.0
matplotlib
google-generativeai
plotly
jupyter-dash
beautifulsoup4
pydub
modal
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser
protobuf==5.29.5
wandb