pip
numpy
pandas
geopandas
polars
matplotlib
seaborn
plotly
panel
jupyter_bokeh
scikit-learn
jupyter
networkx
faker
tqdm
nltk
spacy
wordcloud
requests
python-dotenv
drawdata
anywidget
typing
ollama 
langchain
langchain-ollama              
langchain-openai
langchain-anthropic
langchain_core
langchain-community
langchain-experimental
langchain-chroma
unstructured>=0.16.12
onnx>=1.17.0
protobuf==5.29.2
chromadb>=0.4.22
pydantic==2.10.4
docarray
